1. Discuss string slicing and provide examples.

String slicing in python allows us to create a new string by extracting a portion or slice from a string. The syntax for slicing a string is string[start:stop:step].

In [17]:
#example:
str1 = "I am studying in pwskills lab"

In [18]:
str1[0:]

'I am studying in pwskills lab'

In [19]:
str1[0:13]

'I am studying'

In [20]:
str1[14:29]

'in pwskills lab'

In [25]:
str1[-30:] # using negative slicing

'I am studying in pwskills lab'

In [27]:
str1[::-1] # reversing of the string

'bal sllikswp ni gniyduts ma I'

In [28]:
str1[::2] # using step value 2 to get every second character in a list

'Ia tdigi wklslb'

In [30]:
str1[0:31:2] # combination of start stop step value to slice the string

'Ia tdigi wklslb'

2. Explain the key features of lists in Python

Key features of list are:
1) Ordered : The elements inside the list can be accessed by their index because the elements inside the list maintain order.
2) Mutable: ListLists can be modified after creation. Elements can be added, removed, or changed.
3) Heterogenous: List can contain any type of data type as elements inside it including list.
4) Indexing and Slicing: Lists support indexing to access individual elements and slicing to access sublists.

3. Describe how to access, modify, and delete elements in a list with examples.

In [5]:
#Accessing elements in a list
# 1. using Index
l1 = [1,2,3,4,5]
print(l1[0])
print(l1[1])
print(l1[-1]) #negative indexing
print(l1[-2])

1
2
5
4

In [9]:
# 2. using slicing
print(l1[0:4])
print(l1[0:])
print(l1[::-1])

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [10]:
# Modifying elements in a list
# 1. using index
l1[1] = 100
l1

[1, 100, 3, 4, 5]

In [11]:
# 2. using list method append
l1.append(200)
l1

[1, 100, 3, 4, 5, 200]

In [12]:
# 3. using list method insert
l1.insert(2, 300)
l1

[1, 100, 300, 3, 4, 5, 200]

In [13]:
# 4. Exdend the list with another list
l1.extend([400,500])
l1

[1, 100, 300, 3, 4, 5, 200, 400, 500]

In [14]:
# Deleting Elements in a list
# 1. deleting elements of a list using index
del l1[0]
l1

[100, 300, 3, 4, 5, 200, 400, 500]

In [17]:
# deleting elements in a list using pop method 
pop_element = l1.pop()
print(pop_element)

400

In [18]:
l1

[100, 300, 3, 4, 5, 200]

In [19]:
pop_element = l1.pop(2)
print(pop_element)

3

In [20]:
l1

[100, 300, 4, 5, 200]

In [25]:
# deleting using slicing and the del statement to remove multiple elements.
del l1[2:5]

In [26]:
l1

[100, 300]

In [27]:
# clearing the entile list
l1.clear()
l1

[]

In [28]:
# Deleting the list
del l1

In [30]:
l1 # shows error because the l1 list is deleted

NameError: name 'l1' is not defined

4. Compare and contrast tuples and lists with examples.

Tuples and lists are both sequence data types in Python that can store collections of items. However, they have different characteristics and use cases. Here is a comparison of tuples and lists, highlighting their differences and similarities:

In [1]:
# Similarities
# 1. Ordered: Both tuples and lists maintain the order of elements.

In [2]:
# 2. Indexing and Slicing: Both support indexing and slicing to access elements.
l1 = [1,2,34,78]
print(l1[1])
t1 = (1,2,34,78)
print(t1[1])

2
2

In [5]:
# 3. Heterogeneous: Both can store elements of different types.
l1 = ["Santu", [1,2,3], (1,2,3), 2.2, 3, 3+5j]
print(l1)
t1 = ("Santu", [1,2,3], (1,2,3), 2.2, 3, 3+5j)
print(t1)

['Santu', [1, 2, 3], (1, 2, 3), 2.2, 3, (3+5j)]
('Santu', [1, 2, 3], (1, 2, 3), 2.2, 3, (3+5j))

In [7]:
# 4. Iteration: Both can be iterated over using loops.
l1 = ['p','y','t','h','o','n']
for i in l1:
    print(i)

p
y
t
h
o
n

In [8]:
t1 = ('p','y','t','h','o','n')
for i in t1:
    print(i)

p
y
t
h
o
n

In [9]:
#Differences
# 1. Mutability 
   # List are mutable
my_list = [1, 2, 3]
my_list[0] = 10
my_list.append(4)
print(my_list)

[10, 2, 3, 4]

In [12]:
    # tuples are immutable
my_tuple = (1,2,3)  
my_tuple[0] = 10 # it raises error as tuples are immutable.

TypeError: 'tuple' object does not support item assignment

5.  Describe the key features of sets and provide examples of their use.

In [1]:
# Features of set
# 1. Unordered: Sets do not maintain any order. The elements in a set are not indexed, and their order is undefined.
s1 = {1,2,5,3,4,7}
s1

{1, 2, 3, 4, 5, 7}

In [2]:
# 2. Unique Elements: Sets automatically eliminate duplicate elements. Each element in a set is unique.
my_set = {1,1,1,2,2,2,3,3,4,4,4,5,5,6,6,6}
my_set

{1, 2, 3, 4, 5, 6}

In [4]:
# 3. Mutable: Sets are mutable, meaning you can add or remove elements from a set after its creation. However, the elements themselves must be immutable (e.g., numbers, strings, tuples).
#adding elements in set
s2 = {1,2,3,4,5,6}
s2.add(7)
s2

{1, 2, 3, 4, 5, 6, 7}

In [6]:
#removing elements in set
s2.remove(1)
s2

{2, 3, 4, 5, 6, 7}

In [8]:
s2.discard(2)
s2

{3, 4, 5, 6, 7}

In [9]:
s2.pop()

3

In [10]:
s2

{4, 5, 6, 7}

In [11]:
# 4. Checking Membership: Sets are optimized for checking whether an element is part of the set, which is generally faster than lists.
s3 = {1,2,3,4,5,6}
3 in s3

True

In [12]:
7 in s3

False

In [13]:
# 5. Set Operations: Sets support standard mathematical set operations like union, intersection, difference, and symmetric difference.
# union of sets
s1 = {1,2,3}
s2 = {3,4,5,6}
s1 | s2

{1, 2, 3, 4, 5, 6}

In [14]:
# Intersection of two sets
s1 & s2

{3}

In [15]:
# difference of two sets
s1 - s2

{1, 2}

In [16]:
# symmetric difference of two sets
s1 ^ s2

{1, 2, 4, 5, 6}

In [18]:
# 6. Iterating over a set
my_set = {1,2,3,4,5,6}
for i in my_set:
    print(i)

1
2
3
4
5
6

6.  Discuss the use cases of tuples and sets in Python programming.

In [1]:
# Use cases of tuples
 # 1. Immutable : Tuples are immutable, meaning that we cannot change, add or remove items after the tuple has been created.
 #    Example: Storing geographical coordinates that should not change.
coordinates = (20.5937, 78.9629) # Latitude and longitude of India.
coordinates

(20.5937, 78.9629)

In [2]:
 # 2. Fixed Data Structures: Storing records with a fixed number of fields, such as a database row.
 # Example
student_record = ("Santu", 22, "Data Analytics")
student_record

('Santu', 22, 'Data Analytics')

In [7]:
 # 3. Efficient Memory Usage: Using tuples instead of lists for large collections of constant values to save memory.
large_tuple = tuple(range(101))
large_tuple

(0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100)

In [8]:
 # Use cases of sets
 # 1. Removing Duplicates: Cleaning up a list of items by removing duplicates.
s1 = {1,1,2,2,3,3,4,4}
s1

{1, 2, 3, 4}

In [10]:
# 2. Membership tsting: checking the element is present in set or not.
emp_id = {101,102,103,104,105}
user_id = 103
if user_id in emp_id:
    print("Welcome!")
else:
    print("Access denied")

Welcome!

In [12]:
# 3. storing unique items: Keeping track of unique users in a chat application
active_users = {"user1", "user2", "user3"}
new_user = "user2"
active_users.add(new_user)
active_users

{'user1', 'user2', 'user3'}

7.  Describe how to add, modify, and delete items in a dictionary with examples.

In [14]:
# 1. Adding items in a dictionary
 # Adding a new key-value pair:
dict = {'name': 'Santu', 'age': 22}
dict['subject'] = 'Data Analytics'
dict

{'name': 'Santu', 'age': 22, 'subject': 'Data Analytics'}

In [15]:
 # Adding items using update method
dict.update({'email':'santujana126@gmail.com'})
dict

{'name': 'Santu',
 'age': 22,
 'subject': 'Data Analytics',
 'email': 'santujana126@gmail.com'}

In [23]:
# 2. Modifying items in a dictionary
  # Modifying an Existing Key-Value Pair    
print(dict)

{'name': 'Ajay', 'age': 22, 'subject': 'Data Analytics', 'email': 'santujana126@gmail.com'}

In [24]:
dict['name'] = 'Ajay'
dict

{'name': 'Ajay',
 'age': 22,
 'subject': 'Data Analytics',
 'email': 'santujana126@gmail.com'}

In [26]:
 # Modifying using update method
print(dict)

{'name': 'Ajay', 'age': 22, 'subject': 'Data Analytics', 'email': 'santujana126@gmail.com'}

In [27]:
dict.update({"age":23, 'email':'s@gmail.com'})
dict

{'name': 'Ajay',
 'age': 23,
 'subject': 'Data Analytics',
 'email': 's@gmail.com'}

In [28]:
# 3. Deleting items from a dictionary
  # using del to delete items in a dictionary
print(dict)

{'name': 'Ajay', 'age': 23, 'subject': 'Data Analytics', 'email': 's@gmail.com'}

In [ ]:
del dict["age"]

In [33]:
dict

{'name': 'Ajay', 'subject': 'Data Analytics', 'email': 's@gmail.com'}

In [34]:
  # using pop method
print(dict)

{'name': 'Ajay', 'subject': 'Data Analytics', 'email': 's@gmail.com'}

In [35]:
dict.pop('email')
dict

{'name': 'Ajay', 'subject': 'Data Analytics'}

In [36]:
  # using clear method to remove all items from the dictionary
dict.clear()
dict

{}

In [37]:
  # deleting the dictionary
del dict

8. Discuss the importance of dictionary keys being immutable and provide examples.

In Python, dictionary keys must be immutable. This is a crucial requirement for several reasons:

1. Hashing Requirement:
Dictionaries in Python use a hash table to store key-value pairs. The keys must be hashable to determine the index at which the value should be stored.
Immutable objects like strings, numbers, and tuples have a fixed hash value during their lifetime, which allows consistent access to the associated value.

2. Consistency and Integrity:
If keys were mutable, changing the key after it has been inserted into the dictionary would lead to inconsistencies. The original hash value would not match the new state of the key, making it impossible to retrieve the value.
Immutable keys ensure that the data structure remains consistent and reliable.

3. Performance:
Using immutable keys ensures that the dictionary operations such as insertions, deletions, and lookups are efficient and predictable.

In [40]:
# Examples
# using immutable keys
# 1. string keys
dict = {'name': 'Santu', 'age': 22}
dict['name']

'Santu'

In [41]:
# 2. Tuple keys
dict1 = {(19.0760, 72.8777): 'Mumbai', (22.9868, 87.8550): 'West Bengal'}
dict1[(19.0760, 72.8777)]

'Mumbai'

In [42]:
# 3. Integer keys
dict2 = {1: 1, 2: 4, 3: 9, 4: 16}
dict2[2]

4

In [44]:
# using mutable keys
# 1. List keys
dict3 = {[1,2,3,4]: 'numbers'}
dict3    # as list is mutable it will show an error

TypeError: unhashable type: 'list'

In [45]:
# 2. Dictionary keys
dict4 = {{'key': 'value'}: 'item'} 
dict4

TypeError: unhashable type: 'dict'